#brickSearch input[type="submit"]{
	color: #fff;
	background-color: #005a39 !important;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#00723f),to(#005a39)) !important;
	background-image: -webkit-linear-gradient(top,#00723f,#005a39) !important;
	background-image: -moz-linear-gradient(top,#00723f,#005a39) !important;
	background-image: -ms-linear-gradient(top,#00723f,#005a39) !important;
	background-image: -o-linear-gradient(top,#00723f,#005a39) !important;
	background-image: linear-gradient(top,#00723f,#005a39) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#00723f !important',EndColorStr='#005a39 !important');
	display: block;
	border: 1px solid #828282;
	webkit-border-radius: .375em;
	-moz-border-radius: .375em;
	-ms-border-radius: .375em;
	border-radius: .375em;
	text-align: center !important;
	padding: .5em 4em !important;
	font-weight: 700 !important;
	text-transform: uppercase !important;
	text-decoration: none !important;
	margin: .5em 0 !important;
	background-image: none !important;
	letter-spacing: .0625em;
}
